@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Roboto Mono', monospace;
}

#menutopo {
  padding: 15px 0;
  font-size: .8rem;
  text-transform: uppercase;
  text-align: center;
  background-color: #222222;
  color: #9b9a99;
  /* height: 150px; */
}

#menutopo ul li {
  display: inline-block;
  margin-right: 10px;
  padding-right: 15px;
  border-right: 1px solid;
}

#menutopo i {
  margin: 0 5px 0 0;
  line-height: normal;
  color: #9b9a99;
}

#menutopo a i {
  margin-right: 0;
}


/* -------------------------------------- */
#header {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid red;


}

#botaotopo button {
  height: 35px;
  padding: 5px;
  background-color: #ea5616;
  color: white;
  text-transform: uppercase;

}

#header #logo h1 {
  margin-top: 8px;
  font-size: 45px;
  letter-spacing: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
}



/* Menu Principal */
.banner {
  position: relative;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagens/programacao.jpg) no-repeat;
  background-size: cover;
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../imagens/programacao.jpg)no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.5;
  /* filter: 50%; */
}

.nav-principal {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255,255, 255, 0.3));
  /* border-bottom: 2px solid gray; */
  text-align: center;

}

.nav-principal ul {
  list-style-type: none;
  padding: 0;
}

.nav-principal ul li {
  display: inline;
  position: relative;
}

.nav-principal ul li a {
  width: 120px;
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  transition: background .3s;
  color: white;
}

.nav-principal ul li a:hover {
  background-color: #f2f2f2;
  color: black;
}

/*sub menu*/
.nav-principal ul ul {
  display: none;
  left: 0;
  position: absolute;
}

.nav-principal ul li:hover ul {
  display: block;
  background-color: #222222;
}

.nav-principal ul ul {
  width: 160px
}

.nav-principal ul ul li a {
  display: block;
}

.texto-banner {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 80%;
  text-align: center;
  color: #FFF;

}

.texto-banner h3 {
  font-size: 80px;
  letter-spacing: 1px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
  color: rgb(255, 255, 255);
  text-shadow: black 0.1em 0.1em 0.2em;  
  
}

.texto-banner article{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.texto-banner section{
  padding: 13px;
  background-color: #ea5616;
  margin: 25px;
  border:2px solid  #ea5616;

}

.texto-banner article p{
  margin: 25px;
}

.texto-banner section a{
  
  color: #FFF;
}

.texto-banner section:hover{
  padding: 13px;
  /* border:2px solid  #ea5616; */
  background-color: rgba(234, 86, 22, 0);
  margin: 25px;
  transition: 0.2s;
}

/* TEMAS */

#temas-abordados h3{
margin-top: 25px;
font-size: 2.5rem;
text-transform: uppercase;
text-align: center;
}
#temas{
  height: 600px;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tema{
  width: 350px;
  height: 350px;
  border:1px solid #222222;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.tema:hover{
transform: scale(1.3);
transition: 0.5s;
}

.tema i{
 font-size: 100px;
 color: #ea5616;
 margin-bottom:25px;
 /* box-shadow: 2px 2px 2px 2px black; */
}


 .tema p{
  font-size: 1.4rem;
  font-weight: 700;
 }

 .secoes{
  background-color: #ea5616;
  padding: 25px;
 }
 .secoes h3{
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 45px;
  color: #f2f2f2;
 }
 .coluna{
  display: flex;
  justify-content: center;
 }

 .coluna p, .coluna img{
  width: 650px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  /* align-items: center ; */
  padding: 50px;
  margin-right: 25px;
  text-align: justify;
  color: #f2f2f2;
 }
 
footer{
  background-color: darkblue;
  color: #f2f2f2;
  height:100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rodape{
  text-align: center;
}

/* --------------------------------------- */
.trabalho{
  margin: 0 auto  ;
  display: flex;
  align-items: center;
  width: 1020px;
  border-bottom: 2px dotted #ea5616;
}
.imagem h2{
  margin-top: 20px;
  /* margin-bottom: 10px; */
}
.imagem{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 10px;
}
.imagem img{
  width: 150px;
  margin-right: 50px;
}

.coluna{
  display: flex;
}