    /* #menu ul {
list-style: none;
text-align: center;
font-style: none;
    } */

    
    p{
       list-style: none;
       text-align: center;
       font-style: none;
    }

    h1{

font-style: none;
text-align: center;
color: rgb(66, 66, 122);
font-size: 70px;

    }
    div{
        font-size: 30px;
        color: rgb(66, 66, 122);
    }
