        *{
    margin: 0 auto ;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    font-size: 25px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.nav-list li a {
    display: block;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    transition: 0.5s ease;
}

.nav-list li {
    float: left;
}

.nav-list li a:hover {
    color: black;
    transform: scaleX(1.2);
    background-color:orangered;
    font-weight: 600;
}

#imagens{
text-align: center;
display: block;
}

h1{
    text-align: center;
}

#topicos{
font-size: 25px;

}

body {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

img{
border: 5px solid black;
border-radius: 50px;
}